<html lang="{{language}}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <style>
        {{{tailwindCss}}}

        @page {
            margin: 0;
        }

        *::before,
        *::after {
            content: none!important;
        }
    </style>

</head>

<body class="min-h-screen font-sans grid grid-cols-6 tracking-tight grid-rows-auto text-normal">
    {{#if photo}}
    <div class="col-span-2 pt-page-y px-page-x flex items-center justify-center bg-photo">
        <img src="{{photo.src}}" alt="{{photo.alt}}" class="w-36 h-36 object-cover object-center rounded-full" />
    </div>
    {{/if}}
    
    <header class="bg-header mt-4 col-span-4 text-justify pt-page-y pl-content pr-page-x flex flex-col gap-4 justify-center">
        <div class="flex flex-col gap-1">
            <h1 class="p-1 bg-name text-3xl font-bold rounded-all-headers w-name">{{name}}</h1>
            <p class="p-1 bg-brief-description text-lg rounded-all-headers w-brief-description">{{briefDescription}}</p>
        </div>
        {{#if contact}}
        {{> contact contact=contact}}
        {{/if}}
    </header>
    
    <aside aria-label="{{aside.label}}" class="col-span-2 pb-page-y pl-page-x pr-content pt-2 bg-aside h-full">
        {{> content content=aside.content contentFooter=footer isMain=false}}
    </aside>
    
    <main class="col-span-4 pr-page-x pl-content pb-page-y pt-2 h-full bg-main">
        {{> content content=main.content isMain=true}}
    </main>
</body>

</html>