<html lang="{{language}}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <style>
        {{{tailwindCss}}}

        @page {
            size: A4;
            margin: 0;
        }

        *::before,
        *::after {
            content: none!important;
        }
    </style>

</head>

<body data-theme="{{theme}}" class="min-h-screen font-sans grid grid-cols-6 tracking-normal grid-rows-[auto_1fr] text-tnormal font-size-xs leading-tight">

{{#if (eq layout "E")}}

    <header class="bg-header h-[10.5rem] pl-photo pt-page-y px-page-x row-start-1 col-start-3 col-span-4">
        {{> header name=name briefDescription=briefDescription contact=contact}}
    </header>  

    <main class="col-span-4 col-start-3 row-start-2 pb-page-y pr-page-x pt-photo pl-content-x bg-main flex flex-col justify-between">
        {{> content content=main.content isMain=true }}
    </main>

    <div class="row-span-2 col-start-1 col-span-2 pr-content-x pt-page-y pb-page-y pl-page-x bg-aside flex flex-col gap-2 h-full">
        {{> asideContent }}
    </div>

{{else}}

    <header class="bg-header pb-content-y pt-page-y px-page-x col-span-6 grid grid-cols-6">
        {{> header name=name briefDescription=briefDescription contact=contact profilePhoto=photo}}
    </header>  

    <main class="col-span-4 col-start-3 row-start-2 pt-content-y pl-content-x pb-page-y pr-page-x bg-main flex flex-col justify-between">
        {{> content content=main.content isMain=true }}
    </main>

    <div class="row-span-2 col-start-1 col-span-2 pt-content-y pr-content-x pb-page-y pl-page-x bg-aside flex flex-col gap-2 h-full">
        {{> asideContent }}
    </div>

{{/if}}
</body>

</html>